version: 2
jobs:
  build_prod:
    docker:
      - image: hotosm/circleci:node9.10-python2.7
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run:
          name: Install dependencies
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Build
          command: yarn run build
      - run:
          name: Deploy
          command: aws --region us-east-1 s3 sync build s3://osma-health/master --delete
      - run:
          name: Show site URL
          command : echo http://osma-health.s3-website-us-east-1.amazonaws.com/master
workflows:
    version: 2
    prod:
        jobs:
            - build_prod:
                filters:
                    branches:
                        only:
                            - master
