.page__header {
  @include column(12/12);
  padding: 0.75rem 0 $global-spacing 0;
  height: 62px;
  border-bottom: solid 1px rgba($primary-color, 0.2);
  color: $base-font-color;
  a {
    text-decoration: none;
  }
}

.page__headline {
	@include column(6/12);
}

.page__title {
  font-size: $base-font-size;
}

.page__nav {
  font-size: 0.875rem;
  ul {
    list-style: none;
    float: right;
  }
}

.page__header-inner {
  padding: 0 12px;
}

.page__header__links a {
  display: inline-block;
  font-family: "Barlow Condensed",sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .035em;
  padding-top: 5px;
  margin-right: 22px;
  color: $nav-font-color;
}
.page__header__links a.active {
  opacity: 1;
  border-bottom:2px solid $nav-font-color;
}

.page__header__links {
  line-height: 1.9rem;
}

@media (min-width: 798px) {
 .page__header__links a {
  border-bottom:2px solid transparent;
 }
 .page__header__links a:hover {
  opacity: 1;
  border-bottom:2px solid #eb9f9f;
 }
}

.page__header-hot-logo img {
  height: 32px;
  width: auto;
  margin-left: 8px;
  align-self: center;
}

.page__header-hot-logo span {
  align-self: center;
  font-size: 0.75rem;
  font-family: "Archivo",sans-serif;
}

.page__header-hot-logo {
  float: right;
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}
