/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$base-color: #FFF;                                   // Dark green
$primary-color: #36414D;                                // dark blue
$secondary-color: #8EA0B3;                              // light blue
$secondary-color-light: #C9D2E3;                        // Blue light

/* State colors */

$danger-color: $primary-color;                          // Red
$success-color: #009896;                                // Turquoise
$warning-color: #f39c12;                                // Yellow
$info-color: $secondary-color;                          // Blue

/* Helper colors */

$link-color: $primary-color;
$base-alpha-color: rgba($base-color, 0.10);

$select-text-color: #36414D;


/* Typography
   ========================================================================== */

$root-font-size: 16px;

$base-font-color: #505254;
$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;
$base-font-bold: 700;
$base-font-weight: $base-font-light;
$base-font-size: 1rem;
$base-line-height: 1.5;

$code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

$heading-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-light: 300;
$heading-font-regular: 500;
$heading-font-bold: 700;
$heading-font-weight: $heading-font-regular;


/* Decoration
   ========================================================================== */

/* Border radius */

$base-border-radius: 0.25rem;
$full-border-radius: 100vh;

$base-border-width: 1px;


/* Sizing, spacing and media queries
   ========================================================================== */

/* Sizing */

$page-header-y: 0 !default;

/* Spacing */

$global-spacing: 1rem;

/* Rows */

$row-min-width: 320px;
$row-max-width: 1280px;
$jeet-max-width: $row-max-width; // reset jeet.gs max width

/* Media queries */

$xsmall-range: (0, 543px);
$small-range: (544px, 767px);
$medium-range: (768px, 991px);
$large-range: (992px, 1300px);
$xlarge-range: (1301px, 1600px);
$xxlarge-range: (1601px, 3000px);

$screen: "only screen";
