.about-page {
  @include column(12/12);
  background-color: rgba($primary-color, 0.05);
}

.section__body {
	@include column(12/12);
  img {
    width: 50%;
    padding: 2rem;
    &:first-child {
      width: 70%;
    };
  }
  p {
    width: 80%;
  }
  h3, h2, h4{
    padding: ($global-spacing * 2) 0 ($global-spacing * 1) 0;
    font-weight: $base-font-bold;
  }
  a {
    text-decoration: underline;
  }
  ul {
    margin: $global-spacing;
  }
}

.section__header {
  @include column(12/12);
  margin-top: $global-spacing * 2;
  h2 {
    position: relative;
    font-weight: $base-font-bold;
    padding: ($global-spacing * 2) 0 ($global-spacing * 1) 0;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 80%;
      background-color: rgba($primary-color, 0.3);
    };
  }
}

.footer {
  background-color: rgba($primary-color, 0.1);
  @include column(12/12);
  padding: ($global-spacing * 2) 0;
  margin-top: $global-spacing * 4;
  img {
    width: 10%;
    float: left;
  }
  p {
    float: left;
    width: 55%;
    font-size: 0.75rem;
    margin: $global-spacing 0 0 ($global-spacing) ;
  }
}

