.page__body {
  @include column(12/12);
}

.map {
	position: relative;
	@include column(12/12);
	background-color: rgba($base-color, 0.2);
  height: calc(100vh - 62px);
}

.map__actions {
  position: absolute;
  right: 1rem;
  margin-top: $global-spacing;
  li {
    display: inline-block;
    margin-right: $global-spacing/2;
    a {
      text-decoration: none;
    }
    &:last-child {
      margin-left: 0;
    };
  }
}

.map__layer-switch {
  background-color: $background-color;
  color: $primary-color;
  border-radius: 3px;
  position: absolute;
  bottom: $global-spacing * 1.75;
  right: $global-spacing * 3.3;
  padding: 0.7rem 0.6rem 0.6rem 0.65rem;
  font-size: 0.75rem;
  z-index: 4;
  cursor: pointer;
}

.map__layer-switch-img {
  float: left;
  display: flex;
}

.map__layer-switch-info {
  float: right;
  align-items: center;
  margin-left: 0.5rem;
  min-width: 3.8rem;
}

.map__layer-switch-info p {
  padding-top: 1.1rem;
  display: block;
  color: $secondary-color-light;
  line-height: 0.5rem;
}

.map__layer-switch-info h4 {
  display: block;
  text-align: left;
  position: relative;
  color: $base-color;
  font-weight: 600;
}

.map__legend {
  background-color: $background-color;
  color: $primary-color;
  border-radius: 3px;
  position: absolute;
  bottom: $global-spacing * 1.75;
  right: $global-spacing * 13.3;
  padding: 0.6rem 0.75rem;
  font-size: 0.75rem;
  width: 13rem;
}

.legend-label {
  color: $base-color;
  position: relative;
  margin-bottom: 0.15rem;
  font-weight: $base-font-bold;
}

.legend-sub {
  position: relative;
  font-weight: $base-font-regular;
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 0.15rem;
}

.legend-bar {
  height: 0.75rem;
  position: relative;
  width: 100%;
}

.legend-bar-osm {
  background: linear-gradient(to right, rgba(54, 65, 77, 0.3), rgba(54, 65, 77, 1));
  &:before {
    content:'2012';
    position: absolute;
    left: 0;
    bottom: -1.25rem;
    font-size: 0.675rem;
    font-weight: $base-font-regular;
  };
  &:after {
    content:'2018';
    position: absolute;
    right: 0;
    bottom: -1.25rem;
    font-size: 0.675rem;
    font-weight: $base-font-regular;
  };
}

.report__panel-container {
  position: absolute;
  @include column(6/12);
  top: 14px;
  transition: left 0.5s ease-in-out;
}

.report__panel-container--closed {
  left: -46%;
}

.report__panel-container--open {
  left: 10px;
}

.report__panel-button {
  position: relative;
  right: 0;
  height: 3.5rem;
  background: $primary-color;
  width: 5%;
  float: right;
}

.report__panel {
  color: #FFF;
  height: calc(100vh - 76px);
  width: 95%;
  float: left;
  background: $background-color;
  overflow: auto;
  .inner::-webkit-scrollbar {
    display: none;
  }
}

.report__panel::-webkit-scrollbar {
  display: none;
}

.report__actions {
  @include column(12/12);
  padding: $global-spacing*2 0;
  p {
    float: left;
    padding-top: 0.5rem;
  }
  button {
    float: right;
    display: none;
  }
}

.report__header {
  @include column(12/12);
  margin:($global-spacing*2) 0 ($global-spacing * 3) 0;
  padding-bottom: $global-spacing * 4;
  border-bottom: solid 1px rgba($base-color, 0.2);
}

.report__label {
  color: $highlight-color;
  text-transform: uppercase;
  font-size: 1.15rem;
}

.report__body {
  @include column(12/12);
}

.stat-list, .stat-list-single {
  margin-left: 0;
  width: 100%;
  float: left;
}

.report__section {
  @extend .clearfix;
  margin: ($global-spacing * 2) 0;
  padding-bottom: $global-spacing * 2;
  border-bottom: solid 1px rgba($base-color, 0.1);
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    border-bottom: 0;
  };
}


.report__section-header {
  @extend .clearfix;
  margin-bottom: $global-spacing * 2;
  h2 {
    font-size: 1.15rem;
    font-weight: $base-font-bold;
    float: left;
  }
  p {
    margin-top: $global-spacing/2;
  }
}

.section__number {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $highlight-color;
}

.report__section-description {
  font-weight: $base-font-light;
  opacity: 0.8;
  font-size: 0.875rem;
  width: 85%;
  float: left;
}

.report__section-update-date {
  font-weight: $base-font-light;
  color: $tertiary-color;
  font-size: 0.875rem;
  padding-bottom: 5px;
}

.report__title {
  font-weight: $base-font-regular;
  color: $base-color;
  font-size: 2.3rem;
  padding-top: 5px;
  padding-bottom: 7px;
}

.report__meta {
  margin-left: 0;
  margin-bottom: $global-spacing;
  padding-top: 5px;
  li {
    opacity: 1;
    font-size: 1rem;
    font-weight: $base-font-regular;
    display: inline-block;
    margin-left: $global-spacing*0.7;
    padding-left: $global-spacing*0.7;
    border-left: solid 1px rgba($base-color, 0.2);
    &:first-child {
      border-left: none;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

.report__section-body {
  margin-top: $global-spacing;
  position: relative;
  .stat-list {
    li {
      @include column(4/12);
    }
    li.section-button {
      margin-left: $global-spacing * 2;
      font-size: 0.875rem;
    }
  }
  .stat-list-single {
    li {
      @include column(12/12);
    }
  }
  p {
    font-size: 1.15rem;
    margin-bottom: $global-spacing;
    small {
      opacity: 0.7;
      font-weight: 300;
      margin-left: $global-spacing/2;
    }
  }
}

.report__summary-status, .report__summary-general {
  padding-left: 1.9rem;
  padding-top: 0.5rem;
}

.report__summary-general {
  color: #fff;
  font-size: 0.875rem;
  font-weight: $base-font-light;
}

.report__status {
  p {
    position: relative;
    padding-left: $global-spacing;
    font-weight: $base-font-bold;
    font-size: 0.85rem;
    float: left;
  }
  button {
    float: right;
  }
}

.white-bg-text {
  background-color: #fff;
  color: $background-color;
  padding: 0 2px;
  font-weight: bold;
}

.report__text--poor {
  color: #EB6856;
}

.report__status--poor {
  p {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.19rem;
      height: 12px;
      width: 12px;
      border-radius: 99999px;
      background-color: #EB6856;
    };
  }
}

.report__text--fair {
  color: #FFF11A;
}

.report__status--fair {
  p {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.19rem;
      height: 12px;
      width: 12px;
      border-radius: 99999px;
      background-color: #FFF11A;
    };
  }
}

.report__text--good {
  color: #39CC31;
}

.report__status--good {
  p {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.19rem;
      height: 12px;
      width: 12px;
      border-radius: 99999px;
      background-color: #39CC31;
    };
  }
}

.report__summary-item {
  font-size: 0.8rem;
  font-weight: $base-font-bold;
  color: $tertiary-color;
  height: 4rem;
}

.report__summary-item-title {
  padding-left: 1rem;
}

.color-scale__container {
  float: left;
  width: 100%;
}

.recency-scale__container {
  padding-bottom: $global-spacing;
}

.color-scale {
  list-style: none;
  padding-right: 0;
  margin: 0;
  position: relative;
}

.color-scale__item {
  float: left;
  height: 0.75rem;
  width: 12.5%;
  &:first-child {
    background-color: #D73027;
  }
  &:nth-child(2) {
    background-color: #F46D43;
  }
  &:nth-child(3) {
    background-color: #FDAE61;
  }
  &:nth-child(4) {
    background-color: #FEE08B;
  }
  &:nth-child(5) {
    background-color: #D9EF8B;
  }
  &:nth-child(6) {
    background-color: #A6D96A;
  }
  &:nth-child(7) {
    background-color: #66BD63;
  }
  &:nth-child(8) {
    background-color: #1A9850;
  }
}

.scale-number-bad {
  color: #D73027;
}

.scale-number-good {
  color: #1A9850;
}

.scale-labels {
  width: 100%;
  p {
    text-align: center;
    font-size: 0.675rem;
    font-weight: $base-font-bold;
  }
}

.less {
  float: left;
}

.more {
  float: right;
}

.report-link {
  font-size: 0.875rem;
  padding-top: 0.75rem;
}

.mapboxgl-ctrl-group {
  background-color: $background-color;
  border-radius: 1px;
  box-shadow: 0 0 0 2px $background-color !important;
  moz-box-shadow: $background-color;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23FFFFFF%3B%27%20d%3D%27M%2010%206%20C%209.446%206%209%206.4459904%209%207%20L%209%209%20L%207%209%20C%206.446%209%206%209.446%206%2010%20C%206%2010.554%206.446%2011%207%2011%20L%209%2011%20L%209%2013%20C%209%2013.55401%209.446%2014%2010%2014%20C%2010.554%2014%2011%2013.55401%2011%2013%20L%2011%2011%20L%2013%2011%20C%2013.554%2011%2014%2010.554%2014%2010%20C%2014%209.446%2013.554%209%2013%209%20L%2011%209%20L%2011%207%20C%2011%206.4459904%2010.554%206%2010%206%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23FFFFFF%3B%27%20d%3D%27m%207%2C9%20c%20-0.554%2C0%20-1%2C0.446%20-1%2C1%200%2C0.554%200.446%2C1%201%2C1%20l%206%2C0%20c%200.554%2C0%201%2C-0.446%201%2C-1%200%2C-0.554%20-0.446%2C-1%20-1%2C-1%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
