.panel__header {
	padding-top: $global-spacing * 2;
}

.panel__description {
  margin: $global-spacing 0;
  font-size: 0.875rem;
  width: 90%;
  opacity: 0.8;
}

.panel__section {
  margin-top: $global-spacing * 3;
}

.panel__form {
  width: 100%;
}

.panel-container {
  position: absolute;
  @include column(6/12);
  top: 0;
  bottom: 0;
  left: 0;
}

.panel-button {
  position: relative;
  right: 0;
  height: 3.5rem;
  background: $primary-color;
  width: 5%;
  float: right;
}

.panel {
  color: #FFF;
  position: relative;
  height: 90vh;
  width: 95%;
  float: left;
  background: linear-gradient(to bottom, rgba(52,71,98,0.8) 0%,rgba(38,35,35,0.8) 100%);
  overflow: auto;
}

header {
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background-color: rgba(255,255,255, 0.78);
}

header h1 {
  display: inline-block;
  font-size: 20px;
  line-height: 52px;
  vertical-align: text-bottom;
  font-weight: normal;
  color: #414141;
}

header ul {
  display: inline-block;
  vertical-align: text-bottom;
  margin-bottom: 14px;
  padding-left: 40px;
  font-size: 16px;
  list-style: none;
}

header .inner {
  margin-left: unset;
}