.panel__header {
	padding-top: $global-spacing * 2;
}

.panel__description {
  margin: $global-spacing 0;
  font-size: 0.875rem;
  width: 90%;
  opacity: 0.8;
}

.panel__section {
  margin-top: $global-spacing * 3;
}

.panel__form {
  width: 100%;
}

.panel-container {
  position: absolute;
  @include column(6/12);
  top: 0;
  bottom: 0;
  left: 0;
}

.panel-button {
  position: relative;
  right: 0;
  height: 3.5rem;
  background: $primary-color;
  width: 5%;
  float: right;
}

.panel {
  color: #FFF;
  position: relative;
  height: 92vh;
  width: 95%;
  float: left;
  background: linear-gradient(to bottom, rgba(52,71,98,0.8) 0%,rgba(38,35,35,0.8) 100%);
  overflow: auto;
}

header {
  height: 8vh;
  float: left;
  width: 100%;
  background-color: rgba(255,255,255, 0.78);
  padding: 0.875rem 0 0 0;
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
  z-index: 5;
  position: relative;
}

header h1 {
  color: $primary-color;
  font-size: 1.15rem;
  line-height: 1.5rem;
  float: left;
}

header ul {
  font-size: 0.875rem;
  margin-top: 0.25rem;
  list-style: none;
  float: left;
  margin-left: $global-spacing * 3;
}

.section__body img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  margin-bottom: 20px;
}