.page__header {
  @include column(12/12);
  padding: $global-spacing 0;
  border-bottom: solid 1px rgba($base-color, 0.8);
}

.page__headline {
	@include column(6/12);
  font-size: $base-font-size;
}

.page__nav {
  ul {
    list-style: none;
    float: right;
  }
}
